#add-policy-link
  button.btn.primary(data-controls-modal='policy-form-modal', data-backdrop='true', data-keyboard='true') Create Policy


#policy-form-modal.modal.hide.fade(style='display:none;')
  form#create-policy-form
    .modal-header
      a.close(href='#') ×
      h3 Create New Policy
    .modal-body
      fieldset
        .clearfix
          label(for='customer') customer name
          .input: input#customer.span5(type='text', name='customer', maxlength='30')
        .clearfix
          label(for='policy-type') policy type
          .input
            select#policy-type(name='policy-type')
              option(value='home') home
              option(value='auto') auto
              option(value='life') life
        .clearfix
          label(for='description') description
          .input: textarea#policy-description.span5(name='policy-description')

    .modal-footer
      a#save-btn.btn.primary(href='#') Save
      a#cancel-btn.btn.secondary(href='#') Cancel