.span10
  - if ('undefined' !== typeof errors && errors.length)
    ul#errors
      - each error in errors
        li.error= error
  form(action='/register', method='POST')
    fieldset
      legend Create Account
      .clearfix
        label(for=everyauth.password.loginFormFieldName) username (email) *
        .input
          input.span4(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName], maxlength='30')
      .clearfix
        label(for=everyauth.password.passwordFormFieldName) password *
        .input
          input.span4(type='password', name=everyauth.password.passwordFormFieldName, maxlength='20')
      .clearfix
        label(for='name.first') first name *
        .input
          input.span4(type='text', name='name.first', maxlength='20')
      .clearfix
        label(for='name.last') last name *
        .input
          input.span4(type='text', name='name.last', maxlength='20')

      .clearfix
        label(for='territory') Territory
        .input
          select.span4(name='territory')
            option(value='northeast') Northeast
            option(value='northwest', selected='selected') Northwest
            option(value='central') Central
            option(value='southeast') Southeast
            option(value='southwest') Southwest
      .actions
        input.btn.primary(type='submit', value='register')
        button.btn(type='reset') Cancel
