.topbar
  .fill
    .container
      a.brand(href='/') Great Northwest
      ul.nav
        - if (!everyauth.loggedIn)
          li#regTopItem: a(href='/register') Register
        - else
          li#accountTopItem: a(href='/account') Account
          li: a(href='/logout') Logout
      - if (!everyauth.loggedIn)
        != partial('partials/topbarLogin')