form.pull-right(action='/', method='POST')
  input#input-login.input-small(type='text', name=everyauth.password.loginFormFieldName, placeholder='email')
  input#input-pw.input-small(type='password', name=everyauth.password.passwordFormFieldName, placeholder='password')
  button#form-login-submit.btn(type='submit') Sign in
