!= partial('partials/topbar')

#account-screen.container
  .content
    .page-header
      h1 Agent Dashboard

    .row
      .span10
        .span9
          ul.tabs(data-tabs='tabs')
            li.active: a(href='#my-policies') my policies
            li: a(href='#add-policy') add policy

          .tab-content
            #my-policies.tab-pane.active
              p my policies
            #add-policy.tab-pane
              p add policy
      != partial('partials/accountSidebar')

  != partial('partials/footer')