!= partial('partials/topbar')

.container
  .content
    .page-header
      h1 Policy Dashboard

    .row
      .span10
        - if ('undefined' !== typeof errors && errors.length)
          ul#errors
          - each error in errors
            li.error= error
        .span9
          ul.tabs(data-tabs='tabs')
            li.active: a(href='#policies') Policies
            li: a(href='#help') Help
          .tab-content
            #policies.tab-pane.active
              != partial('partials/policyForm')
              hr
              #policy-container
            #help.tab-pane
              p add note
      .span4
        - if (everyauth.loggedIn)
          p= 'logged in as ' + user.email
        - else
          p please login or register

  != partial('partials/footer')