!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common-styles.css')
    meta(name='csrf-token', content='#{session._csrf}')
    // we pull in the shim for IE6-8 HTML5 element support
    //[if lt IE 9 ]> <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script> <![endif]
    //script(src='/socket.io/socket.io.js')
    script!= javascript
    script!= exposedPolicies
  body(id=screenId)
    != body
    script(src='/javascripts/common-scripts.js')
    != partial('partials/templates')
