!= partial('partials/topbar')
.container
  .content
    .page-header
      h1 Agent Dashboard

    .row
      != partial('partials/regForm')
      .span4
        p sidebar content

  footer
    p &copy;2011 Great Northwest Insurance Co.