// Mixins
opacity(n)
  opacity n
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
  -ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + round(n * 100) + ")"

border-radius(n)
  border-radius n
  -webkit-border-radius n
  -moz-border-radius n

top-border-radius(n)
  -webkit-border-top-left-radius n
  -webkit-border-top-right-radius n
  -moz-border-radius-topleft n
  -moz-border-radius-topright n
  border-top-left-radius n
  border-top-right-radius n

box-shadow()
  box-shadow arguments
  -webkit-box-shadow arguments
  -moz-box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

background-clip(n)
  background-clip n
  -webkit-background-clip n
  -moz-background-clip n