@import "mixins"

html, body
  background-color #eee

body
  padding-top 40px

.container > footer p
  text-align center

.container
  width 820px

.content
  background-color #fff
  padding 20px
  margin 0 -20px
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);

.page-header
  background-color #f5f5f5
  padding 20px 20px 10px
  margin -20px -20px 20px

.content div.span10, .content div.span4
  min-height 500px

.content .span4
  margin-left 0
  padding-left 19px
  border-left 1px solid #eee

.topbar .btn
  border 0

input[type=text], input[type=password], input[type=submit]
  margin-right 3px

.actions
  margin-right 20px
  border none

//Policy Styles
.policy-item
  margin 0 0 10px 0
  padding 5px
  border-radius(3px)
  box-shadow(0 1px 2px rgba(0,0,0,.15))